/* assets/css/Nav.css */
.navbar {
  background-color: #d3dee4; /* color celeste pastel */
}

.navbar-brand img {
  width: 90px;
  height: 70px;
}
.LogoRotary {
  width: 90px;
  height: 20px;
  margin-left: 5px;
}

.nav-link {
  display: flex;
  align-items: center;
}
.text-nav {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-right: 13px;
}
.nav-link i {
  margin-right: 8px;
  color: rgb(98, 98, 223);
}

.nav-item .nav-link img {
  width: 30px;
  height: 30px;
}
.dropdown{
 font-weight: bold;
}
.dropdown a{
   color: rgb(17, 153, 177);
   font-weight: bold;
}

