.widgets {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px dashed #7c8692;
  max-width: 18rem;
  background: #e9f0d0;
  height: 100%;
  border: 1px solid #7c8692;
  position: relative;
  padding-bottom: 20px; /* Espacio para el borde inferior */
}

.card-footer {
  width: 100%;
  height: 3px;
  background-color: #0d3a09;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura de la imagen */
  margin: 10px;
}

.card-img-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.num {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-top: 5px;
}

.h5_widgets {
  font-size: 18px;
  color: #2e85e7;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xx {
  text-align: center;
}
